.c-instruction {
  .instruction-icon {
    width: 20px
  }

  .legend {
    display: flex
    align-items: center
    margin-bottom: 14px
  }

  .game-button-container {
    display: flex
    justify-content: space-evenly;
    width: 100%

  }
}