.c-maze {
  position: relative
  border-right: 2px solid $mainColor
  border-bottom: 2px solid $mainColor

  .maze-overlay {
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    padding-top: 45%
    font-size: 32px
    background-color: rgba($mainColor, 0.8)
    text-align: center
    color: white
    z-index: 5
    font-weight: bold
  }

  .maze-row {
    display: flex
  }

  .maze-cell {
    position: relative
    width: $cellSize
    height: $cellSize
    text-align: center
    font-size: 10px
  }

  .maze-top-border {
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 2px
    background-color: $mainColor

    &:after {
      $square(2px)
      content: ''
      position: absolute
      right: -2px
      background-color: $mainColor
    }
  }

  .maze-left-border {
    position: absolute
    top: 0
    left: 0
    width: 2px
    height: 100%
    background-color: $mainColor
  }
}