.c-instruction {
  .instruction-icon {
    width: 20px
  }

  .legend {
    display: flex
    align-items: center
    margin-bottom: 6px
  }

  .game-button-container {
    display: flex
    justify-content: space-evenly
    width: 235px
    height: 42px
    margin: 0 auto
  }

  .preloader-wrapper {
    margin-top: 10px
  }

  .info-message-box {
    font-size: 14px
    text-align: center
    font-weight: bold
    line-height: 0.8
    margin-bottom: 13px
  }

  .button {
    margin-top: 11px;
    margin-bottom: 0;
  }
}