.c-range-slider {
  user-select: none

  .label {
    font-size: 1.6rem
    font-weight: 700
    margin-bottom: 2rem
  }

  .input-range__slider {
    background-color: $mainColor
    border-color: $mainColor
  }

  .input-range__track--active {
    background-color: $mainColor
  }

  .input-range__label--value {
    font-size: 1.6rem
    font-weight: 700

    .input-range__label-container {
      top: -13px
    }
  }

  .range-slider {
    margin-bottom: 35px
  }
}